<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pknu26.usedtrade.mapper.PostMapper">

    <insert id="insertPost" parameterType="com.pknu26.usedtrade.dto.PostDTO">
        <selectKey keyProperty="postId" resultType="long" order="BEFORE">
            SELECT seq_post_id.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO posts (
            post_id,
            user_id,
            board_id,
            title,
            content_posts,
            price,
            category,
            location,
            status,
            view_count,
            created_at_posts
        ) VALUES (
            #{postId},
            #{userId},
            #{boardId},
            #{title},
            #{content},
            #{price},
            #{category},
            #{location},
            #{status},
            0,
            CURRENT_TIMESTAMP
        )
    </insert>

    <select id="findAllPosts" resultType="com.pknu26.usedtrade.dto.PostDTO">
        SELECT
            p.post_id,
            p.user_id,
            p.buyer_id,
            p.board_id,
            p.title,
            p.content_posts AS content,
            p.price,
            p.category,
            p.location,
            p.status,
            p.view_count,
            p.created_at_posts,
            img.image_url AS main_image_url
        FROM posts p
        LEFT JOIN post_img img
            ON p.post_id = img.post_id
           AND img.is_main = 'Y'
        ORDER BY p.created_at_posts DESC
    </select>

</mapper>